# 1) Data Preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('spam.tsv',sep='\t')

In [6]:
df.head(10)

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2
5  spam  FreeMsg Hey there darling it's been 3 week's n...     147      8
6   ham  Even my brother is not like to speak with me. ...      77      2
7   ham  As per your request 'Melle Melle (Oru Minnamin...     160      6
8  spam  WINNER!! As a valued network customer you have...     157      6
9  spam  Had your mobile 11 months or more? U R entitle...     154      2

# 2) Building the model

In [9]:
df.isna().sum()  # no missing values

label      0
message    0
length     0
punct      0
dtype: int64

In [11]:
df.describe()

            length        punct
count  5572.000000  5572.000000
mean     80.489950     4.177495
std      59.942907     4.623919
min       2.000000     0.000000
25%      36.000000     2.000000
50%      62.000000     3.000000
75%     122.000000     6.000000
max     910.000000   133.000000

In [15]:
df['label'].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

In [17]:
df['label'].value_counts()/len(df)*100  # imbalanced data set

label
ham     86.593683
spam    13.406317
Name: count, dtype: float64

**To solve imbalanced dataset**

In [18]:
# for spam very less no of records are available,we will try to collect more data regarding spam category, to make 
# same proportion of data

In [23]:
ham = df[df['label']== "ham"]
spam = df[df['label']=='spam']

In [26]:
ham.shape , spam.shape

((4825, 4), (747, 4))

 **Make dataset same for both spam and ham**